In [73]:
f_1 = ['8Swj iu mJ EJDYIJ', "United Arab'Emirates", 'Identity Card', 'ID Number', '784-1989-0832047-0', 'mMin', 'NameRashed Saeed Khalaf Jumaia', 'Alkaabi', 'MeLyi', 'NationalityUnited Arab Emirates']
print(f_1)

['8Swj iu mJ EJDYIJ', "United Arab'Emirates", 'Identity Card', 'ID Number', '784-1989-0832047-0', 'mMin', 'NameRashed Saeed Khalaf Jumaia', 'Alkaabi', 'MeLyi', 'NationalityUnited Arab Emirates']

In [74]:
b_1 = ['Sex:Mys', 'Date of Birth 14/05/1989', 'Jeial', 'Signature7cExpiry Date/gLaayL', 'Card Number/ULAk', '083231904', '03/05/2022', '140588/01', '4', '1377', 'aILA', '0940003F92031375', 'If you find this card,please return it to the issuing', 'organization or to the nearestpolice station', 'IDARE0832319048784198908320470', '8905145M2205038ARE<<<<<<<<<<<2', 'ALKAABI<<RASHED<SAEED<KHALAF<J']
print(b_1)

['Sex:Mys', 'Date of Birth 14/05/1989', 'Jeial', 'Signature7cExpiry Date/gLaayL', 'Card Number/ULAk', '083231904', '03/05/2022', '140588/01', '4', '1377', 'aILA', '0940003F92031375', 'If you find this card,please return it to the issuing', 'organization or to the nearestpolice station', 'IDARE0832319048784198908320470', '8905145M2205038ARE<<<<<<<<<<<2', 'ALKAABI<<RASHED<SAEED<KHALAF<J']

In [75]:
f_2 = ['8uwJl LujaJl Ef DYT Trs', 'United ArabEmirates', 'Aiads I3Ua', 'Resident ldentityCard', 'ID Number', '784-1994-5972751-9', 'AAssiHieaLiuaiais', 'Name:Hossam Omar Ibrahim Mostafa', 'Bakir', '2uia', 'NationalityEgyp']
print(f_2)

['8uwJl LujaJl Ef DYT Trs', 'United ArabEmirates', 'Aiads I3Ua', 'Resident ldentityCard', 'ID Number', '784-1994-5972751-9', 'AAssiHieaLiuaiais', 'Name:Hossam Omar Ibrahim Mostafa', 'Bakir', '2uia', 'NationalityEgyp']

In [76]:
b_2 = ['IFwpwn: 5S~ IWN :xoS', 'Date of Birth 18/07/19948J', 'Expiry Date/gy', 'Signature/2', 'Card Numberf Ua', 'SL', '12/05/2021', '089043983', '4', '6x043083', '152006/01', 'JJI gl LAa', 'lf you find this cardplase', '0C80006D38EC1375', 'return it to the issuing', 'organization or to the', 'nearestpolice station.', 'ILARE0890439838784199459727519', '9407185M2105127EGY<<<<<<<<<<<5', 'BAKIR<<HOSSAM<OMAR<IBRAHIM<MOS']
print(b_2)

['IFwpwn: 5S~ IWN :xoS', 'Date of Birth 18/07/19948J', 'Expiry Date/gy', 'Signature/2', 'Card Numberf Ua', 'SL', '12/05/2021', '089043983', '4', '6x043083', '152006/01', 'JJI gl LAa', 'lf you find this cardplase', '0C80006D38EC1375', 'return it to the issuing', 'organization or to the', 'nearestpolice station.', 'ILARE0890439838784199459727519', '9407185M2105127EGY<<<<<<<<<<<5', 'BAKIR<<HOSSAM<OMAR<IBRAHIM<MOS']

In [77]:
f_3 = ['Unlted Arab Emlrates', 'RCamd', '7841263-0496-400-7', 'denAHrom', 'Na']
print(f_3)

['Unlted Arab Emlrates', 'RCamd', '7841263-0496-400-7', 'denAHrom', 'Na']

In [78]:
b_3 = ['09/2021', '09088', 'IEOSPE/01', '00099J137', 'ILARE0209528069784198304954807', '8309145M2109181FRA<<<<<<<<<<<5', 'ATROUS<<ABDELKARIM<<<<<<<<<<<<']
print(b_3)

['09/2021', '09088', 'IEOSPE/01', '00099J137', 'ILARE0209528069784198304954807', '8309145M2109181FRA<<<<<<<<<<<5', 'ATROUS<<ABDELKARIM<<<<<<<<<<<<']

In [79]:
f_4 = ['Name:Khalid Ali Saleh', 'NationalityUnited Arab Emirates', 'United Arab Emirates', 'Almulla Alyassi', 'Identity Card', 'B4Ail i al csyLsyi:', 'IKw:FF q5 m2 m', '784-1982-8193273-5', '8SSJ iy J Cf LyL 1y', 'is ZaUa']
print(f_4)

['Name:Khalid Ali Saleh', 'NationalityUnited Arab Emirates', 'United Arab Emirates', 'Almulla Alyassi', 'Identity Card', 'B4Ail i al csyLsyi:', 'IKw:FF q5 m2 m', '784-1982-8193273-5', '8SSJ iy J Cf LyL 1y', 'is ZaUa']

In [80]:
b_4 = ['SexMysi', 'Date of Birth 27/03/19826JY', '26/09/2027', '085446894', '2703350/01', 'JILacLylsL', 'jigl Lf', 'If you find this cardplsreu it to the lssuing', '0A00027C99D4137', 'organization or to the nearest police station.', 'IDARE0854468942784198281932735', '8203276M2709260AREX<<<<<<<<<<1', 'ALMULLAXALYASSIKXKHALID<ALISA']
print(b_4)

['SexMysi', 'Date of Birth 27/03/19826JY', '26/09/2027', '085446894', '2703350/01', 'JILacLylsL', 'jigl Lf', 'If you find this cardplsreu it to the lssuing', '0A00027C99D4137', 'organization or to the nearest police station.', 'IDARE0854468942784198281932735', '8203276M2709260AREX<<<<<<<<<<1', 'ALMULLAXALYASSIKXKHALID<ALISA']

In [81]:
f_5 = ['United Arab Emirates', 'Baaadl is l elyli', 'Residentldentity Card', 'IDNumber/', '784-1961-0383869-2', 'Saa juialluesuay', 'Name:Ziad Abdulaziz Nakchou', 'NationalitySyrian Arab Republic']
print(f_5)

['United Arab Emirates', 'Baaadl is l elyli', 'Residentldentity Card', 'IDNumber/', '784-1961-0383869-2', 'Saa juialluesuay', 'Name:Ziad Abdulaziz Nakchou', 'NationalitySyrian Arab Republic']

In [82]:
b_5 = ['Sex:M ySj :cuiaJ|', 'Date of Birth 07/02/1961', 'Signature/Expiry Date/gleiyl', 'Card Number', '25/11/2020', '091963000', '157700/01', '8G!L8', 'RN', 'JIgi L1', '0F000034BDDC1376', 'If you find this cardplease return it to the issuing', 'organization or to the nearest police station.', 'ILARE0919630002784196103838692', '6102076M2011253SYR<<<<<<<<<<<5', 'NAKCHOU<<ZIAD<ABDULAZIZ<<<<<<<']
print(b_5)

['Sex:M ySj :cuiaJ|', 'Date of Birth 07/02/1961', 'Signature/Expiry Date/gleiyl', 'Card Number', '25/11/2020', '091963000', '157700/01', '8G!L8', 'RN', 'JIgi L1', '0F000034BDDC1376', 'If you find this cardplease return it to the issuing', 'organization or to the nearest police station.', 'ILARE0919630002784196103838692', '6102076M2011253SYR<<<<<<<<<<<5', 'NAKCHOU<<ZIAD<ABDULAZIZ<<<<<<<']

In [83]:
f_6 = ['United Arab Emirates', 'ResidentIdentityCard', 'IDNumber/', '784-1985-6420764-9', 'laii iaasisg iannco', 'Name:MohdWalid Mohd Al Bitai', 'Nationality:Jordan']
print(f_6)

['United Arab Emirates', 'ResidentIdentityCard', 'IDNumber/', '784-1985-6420764-9', 'laii iaasisg iannco', 'Name:MohdWalid Mohd Al Bitai', 'Nationality:Jordan']

In [84]:
b_6 = ['Sex:MySj', 'Date of Birth 16/06/1985', 'Signature7Expiry Date/ely', 'Card Number', '092713335', '16/01/2022', '13+11 4g011110L', '159177/01', 'La1.so', 'Iyoutind thia card', 'tutotheung', 'OF8000A33FA11376', 'organization or to tho noiroat pollcostation', 'ILARE0927133359784198564207649', '8506162M2201166JOR<<<<<<<<<<<0', 'AL<BITAR<<MOHD<WALID<MOHD<<<<<', 'PhotoScanby GooglePhotos']
print(b_6)

['Sex:MySj', 'Date of Birth 16/06/1985', 'Signature7Expiry Date/ely', 'Card Number', '092713335', '16/01/2022', '13+11 4g011110L', '159177/01', 'La1.so', 'Iyoutind thia card', 'tutotheung', 'OF8000A33FA11376', 'organization or to tho noiroat pollcostation', 'ILARE0927133359784198564207649', '8506162M2201166JOR<<<<<<<<<<<0', 'AL<BITAR<<MOHD<WALID<MOHD<<<<<', 'PhotoScanby GooglePhotos']

In [85]:
f_7 = ['enter', '3T', '2', 'T shift', 'pg dn', 'end', 'enter', 'del', 'ins', 'fintel', 'COREi3', 'inside', 'United Arab Emirates', 'Residentldentity Card', 'ID Number', '784-1979-9431921-4', 'km:1 omFrowirs', 'Name:Nail Othrian Noor Mohamed', 'Abobakr', 'Nationality:Yemen']
print(f_7)

['enter', '3T', '2', 'T shift', 'pg dn', 'end', 'enter', 'del', 'ins', 'fintel', 'COREi3', 'inside', 'United Arab Emirates', 'Residentldentity Card', 'ID Number', '784-1979-9431921-4', 'km:1 omFrowirs', 'Name:Nail Othrian Noor Mohamed', 'Abobakr', 'Nationality:Yemen']

In [86]:
b_7 = ['7 v', 'v8', '91', 'home', 'pg up', '5', 'enter', '6', '4', '2', 'oause', '3Y', 'T shift', '2', '1', 'end', 'pg dn', 'en', 'del', 'ins', 'inte', 'Date of Birth  15/12/1979 8Jy il c', 'CORE', 'Sex: M _Sj :C+iJl', 'insid', '/cLLYHi', 'E0', 'Card Number', 'Expiry Date', 'Signature', '092163539', '10/12/2020', '158096/01', 'lf you find this card,plase returit to the issuing', 'organization or to the nearestpolice station.', '0F00008B899C1376', 'ILARE0921635390784197994319214', '7912159M2012102YEM<<<<<<<<<<<2', 'ABOBAKR<<NAIL<OTHMANNOORMOHA']
print(b_7)

['7 v', 'v8', '91', 'home', 'pg up', '5', 'enter', '6', '4', '2', 'oause', '3Y', 'T shift', '2', '1', 'end', 'pg dn', 'en', 'del', 'ins', 'inte', 'Date of Birth  15/12/1979 8Jy il c', 'CORE', 'Sex: M _Sj :C+iJl', 'insid', '/cLLYHi', 'E0', 'Card Number', 'Expiry Date', 'Signature', '092163539', '10/12/2020', '158096/01', 'lf you find this card,plase returit to the issuing', 'organization or to the nearestpolice station.', '0F00008B899C1376', 'ILARE0921635390784197994319214', '7912159M2012102YEM<<<<<<<<<<<2', 'ABOBAKR<<NAIL<OTHMANNOORMOHA']

In [87]:
f_8 = ['8SSJl iu yJ Cd LYl 1p', 'United Arab Emirates', 'ge ZiUay', 'ldentity Card', 'ID Number/', '784-1975-3726976-9', 'IKm: o*ly q9 vwwr vsm9 MmmF', 'NameAbdulla Ali Mohammed Mehdi', 'Al Shamsi', '3n2al i s csLayi:', 'NationalityUnited Arab Emirates']
print(f_8)

['8SSJl iu yJ Cd LYl 1p', 'United Arab Emirates', 'ge ZiUay', 'ldentity Card', 'ID Number/', '784-1975-3726976-9', 'IKm: o*ly q9 vwwr vsm9 MmmF', 'NameAbdulla Ali Mohammed Mehdi', 'Al Shamsi', '3n2al i s csLayi:', 'NationalityUnited Arab Emirates']

In [88]:
b_8 = ['SexM jSi', 'Date of Birth 12/05/19756', 'Signature/', 'Expiry Date/', 'Card Numberf3Uall', '25/09/2026', '080113391', '2502290/01', '|LgcL>FL', 'If you find this card,please retur it to the ui', '0540015D0C5C1374', 'organization or to the nearestpolice station', 'IDARE0801133916784197537269769', '7505124M2609256ARE<<<<<<<<<<<4', 'ALSHAMSIXKABDULLAALIMOHAMME']
print(b_8)

['SexM jSi', 'Date of Birth 12/05/19756', 'Signature/', 'Expiry Date/', 'Card Numberf3Uall', '25/09/2026', '080113391', '2502290/01', '|LgcL>FL', 'If you find this card,please retur it to the ui', '0540015D0C5C1374', 'organization or to the nearestpolice station', 'IDARE0801133916784197537269769', '7505124M2609256ARE<<<<<<<<<<<4', 'ALSHAMSIXKABDULLAALIMOHAMME']

In [89]:
f_9 = ['saasj iuluyli', 'United Arab Emirates', 'Resident ldentity Card', 'ID Number', '784-1974-6425362-0', 'ELu Liysl:auy', 'NameAditya Bhagat', 'igJui', 'Nationality:India']
print(f_9)

['saasj iuluyli', 'United Arab Emirates', 'Resident ldentity Card', 'ID Number', '784-1974-6425362-0', 'ELu Liysl:auy', 'NameAditya Bhagat', 'igJui', 'Nationality:India']

In [90]:
b_9 = ['6exMS:', 'Date of Binth 21/09/1974', 'SignatureExply Dale', 'Card Number', '01/07/2022', '096407772', '164481/01', '118000042E511377', 'orte the', 'ILARE0954077729784197464253620', '7409211M2207010IND<<<<<<<<<<<8', 'BHAGAT<<ADITYA<<<<<<<<<<<<<<<<']
print(b_9)

['6exMS:', 'Date of Binth 21/09/1974', 'SignatureExply Dale', 'Card Number', '01/07/2022', '096407772', '164481/01', '118000042E511377', 'orte the', 'ILARE0954077729784197464253620', '7409211M2207010IND<<<<<<<<<<<8', 'BHAGAT<<ADITYA<<<<<<<<<<<<<<<<']

In [91]:
strings_front = ['United Arab Emirates','Identity Card','ID Number','Name','Nationality']
print(strings_front)

['United Arab Emirates', 'Identity Card', 'ID Number', 'Name', 'Nationality']

In [92]:
l1 = ['NAKCHOU', 'ZIAD ABDULAZIZ', 'ARE', 'SYR', '07/02/61', '201125', 'M', 'IL', '091963000', '784196103838692', '6', '3', '2', '', '5']
l11 = l1[:10]
print(l11)

['NAKCHOU', 'ZIAD ABDULAZIZ', 'ARE', 'SYR', '07/02/61', '201125', 'M', 'IL', '091963000', '784196103838692']

In [93]:
l1 = ['ZIAD ABDULAZIZ', 'NAKCHOU', 'ZIAD ABDULAZIZ NAKCHOU', 'Arab Emirates', 'Syria', '784196103838692', '07/02/61', '25/11/20', 'M']
l11 = l1
print(l11)

['ZIAD ABDULAZIZ', 'NAKCHOU', 'ZIAD ABDULAZIZ NAKCHOU', 'Arab Emirates', 'Syria', '784196103838692', '07/02/61', '25/11/20', 'M']

In [94]:
l12 = f_5 + b_5[:-3]
print(l12)

['United Arab Emirates', 'Baaadl is l elyli', 'Residentldentity Card', 'IDNumber/', '784-1961-0383869-2', 'Saa juialluesuay', 'Name:Ziad Abdulaziz Nakchou', 'NationalitySyrian Arab Republic', 'Sex:M ySj :cuiaJ|', 'Date of Birth 07/02/1961', 'Signature/Expiry Date/gleiyl', 'Card Number', '25/11/2020', '091963000', '157700/01', '8G!L8', 'RN', 'JIgi L1', '0F000034BDDC1376', 'If you find this cardplease return it to the issuing', 'organization or to the nearest police station.']

In [95]:
import pandas as pd
from fuzzywuzzy import fuzz
from fuzzywuzzy import process
import numpy as np

# # converting to pandas dataframes
dframe1 = pd.DataFrame(l11)
dframe2 = pd.DataFrame(l12)

# empty lists for storing the matches
# later
mat1 = []
mat2 = []
p = []

# # printing the pandas dataframes
print("First dataframe:\n", dframe1,"\nSecond dataframe:\n", dframe2)

# converting dataframe column to
# list of elements
# to do fuzzy matching
list1 = dframe1[0].tolist()
list2 = dframe2[0].tolist()

# list1 = file_lines
# list2 = Strings

# taking the threshold as 80
threshold = 65

# iterating through list1 to extract
# it's closest match from list2
for i in list1:
    mat1.append(process.extractOne(
    i, list2, scorer=fuzz.partial_ratio))
dframe1['matches'] = mat1

# iterating through the closest matches
# to filter out the maximum closest match
for j in dframe1['matches']:
	if j[1] >= threshold:
		p.append(j[0])
	mat2.append(",".join(p))
	p = []


# storing the resultant matches back to dframe1
dframe1['matches'] = mat2
print("\nDataFrame after Fuzzy matching using fuzz.partial_ratio:")
dframe1.replace(r'^\s*$', np.nan, regex=True,inplace = True)
dframe1

First dataframe:
                         0
0          ZIAD ABDULAZIZ
1                 NAKCHOU
2  ZIAD ABDULAZIZ NAKCHOU
3           Arab Emirates
4                   Syria
5         784196103838692
6                07/02/61
7                25/11/20
8                       M
Second dataframe:
                                                     0
0                                United Arab Emirates
1                                   Baaadl is l elyli
2                               Residentldentity Card
3                                           IDNumber/
4                                  784-1961-0383869-2
5                                    Saa juialluesuay
6                         Name:Ziad Abdulaziz Nakchou
7                     NationalitySyrian Arab Republic
8                                   Sex:M ySj :cuiaJ|
9                            Date of Birth 07/02/1961
10                       Signature/Expiry Date/gleiyl
11                                        Card Number
12                                         25/11/2020
13                                          091963000
14                                          157700/01
15                                              8G!L8
16                                                 RN
17                                            JIgi L1
18                                   0F000034BDDC1376
19  If you find this cardplease return it to the i...
20     organization or to the nearest police station.

DataFrame after Fuzzy matching using fuzz.partial_ratio:

                        0                          matches
0          ZIAD ABDULAZIZ      Name:Ziad Abdulaziz Nakchou
1                 NAKCHOU      Name:Ziad Abdulaziz Nakchou
2  ZIAD ABDULAZIZ NAKCHOU      Name:Ziad Abdulaziz Nakchou
3           Arab Emirates             United Arab Emirates
4                   Syria  NationalitySyrian Arab Republic
5         784196103838692               784-1961-0383869-2
6                07/02/61         Date of Birth 07/02/1961
7                25/11/20                       25/11/2020
8                       M             United Arab Emirates

In [96]:
l_ = dframe1[0].tolist()
print(l_)
l_1 = dframe1['matches'].tolist()
print(l_1)
print(list(set(l_1)))

['ZIAD ABDULAZIZ', 'NAKCHOU', 'ZIAD ABDULAZIZ NAKCHOU', 'Arab Emirates', 'Syria', '784196103838692', '07/02/61', '25/11/20', 'M']
['Name:Ziad Abdulaziz Nakchou', 'Name:Ziad Abdulaziz Nakchou', 'Name:Ziad Abdulaziz Nakchou', 'United Arab Emirates', 'NationalitySyrian Arab Republic', '784-1961-0383869-2', 'Date of Birth 07/02/1961', '25/11/2020', 'United Arab Emirates']
['United Arab Emirates', 'Name:Ziad Abdulaziz Nakchou', 'Date of Birth 07/02/1961', '784-1961-0383869-2', 'NationalitySyrian Arab Republic', '25/11/2020']

In [97]:
df = dframe1[0][dframe1['matches'].isnull()]
df

Series([], Name: 0, dtype: object)

In [98]:
final = df.tolist()
final

[]

In [105]:
import pandas as pd
from fuzzywuzzy import fuzz
from fuzzywuzzy import process
import numpy as np

# # converting to pandas dataframes
dframe1 = pd.DataFrame(l12)
dframe2 = pd.DataFrame(l11)

# empty lists for storing the matches
# later
mat1 = []
mat2 = []
p = []

# # printing the pandas dataframes
print("First dataframe:\n", dframe1,"\nSecond dataframe:\n", dframe2)

# converting dataframe column to
# list of elements
# to do fuzzy matching
list1 = dframe1[0].tolist()
list2 = dframe2[0].tolist()

# list1 = file_lines
# list2 = Strings

# taking the threshold as 80
threshold = 65

# iterating through list1 to extract
# it's closest match from list2
for i in list1:
    mat1.append(process.extractOne(
    i, list2, scorer=fuzz.partial_ratio))
dframe1['matches'] = mat1

# iterating through the closest matches
# to filter out the maximum closest match
for j in dframe1['matches']:
	if j[1] >= threshold:
		p.append(j[0])
	mat2.append(",".join(p))
	p = []


# storing the resultant matches back to dframe1
dframe1['matches'] = mat2
print("\nDataFrame after Fuzzy matching using fuzz.partial_ratio:")
dframe1.replace(r'^\s*$', np.nan, regex=True,inplace = True)
dframe1

First dataframe:
                                                     0
0                                United Arab Emirates
1                                   Baaadl is l elyli
2                               Residentldentity Card
3                                           IDNumber/
4                                  784-1961-0383869-2
5                                    Saa juialluesuay
6                         Name:Ziad Abdulaziz Nakchou
7                     NationalitySyrian Arab Republic
8                                   Sex:M ySj :cuiaJ|
9                            Date of Birth 07/02/1961
10                       Signature/Expiry Date/gleiyl
11                                        Card Number
12                                         25/11/2020
13                                          091963000
14                                          157700/01
15                                              8G!L8
16                                                 RN
17                                            JIgi L1
18                                   0F000034BDDC1376
19  If you find this cardplease return it to the i...
20     organization or to the nearest police station.
Second dataframe:
                         0
0          ZIAD ABDULAZIZ
1                 NAKCHOU
2  ZIAD ABDULAZIZ NAKCHOU
3           Arab Emirates
4                   Syria
5         784196103838692
6                07/02/61
7                25/11/20
8                       M

DataFrame after Fuzzy matching using fuzz.partial_ratio:

                                                    0          matches
0                                United Arab Emirates    Arab Emirates
1                                   Baaadl is l elyli              NaN
2                               Residentldentity Card              NaN
3                                           IDNumber/                M
4                                  784-1961-0383869-2  784196103838692
5                                    Saa juialluesuay              NaN
6                         Name:Ziad Abdulaziz Nakchou   ZIAD ABDULAZIZ
7                     NationalitySyrian Arab Republic            Syria
8                                   Sex:M ySj :cuiaJ|                M
9                            Date of Birth 07/02/1961         07/02/61
10                       Signature/Expiry Date/gleiyl              NaN
11                                        Card Number                M
12                                         25/11/2020         25/11/20
13                                          091963000              NaN
14                                          157700/01              NaN
15                                              8G!L8              NaN
16                                                 RN              NaN
17                                            JIgi L1              NaN
18                                   0F000034BDDC1376              NaN
19  If you find this cardplease return it to the i...              NaN
20     organization or to the nearest police station.              NaN

In [112]:
df = dframe1[0][dframe1['matches'].isnull()]
df

1                                     Baaadl is l elyli
2                                 Residentldentity Card
5                                      Saa juialluesuay
10                         Signature/Expiry Date/gleiyl
13                                            091963000
14                                            157700/01
15                                                8G!L8
16                                                   RN
17                                              JIgi L1
18                                     0F000034BDDC1376
19    If you find this cardplease return it to the i...
20       organization or to the nearest police station.
Name: 0, dtype: object

In [113]:
df_1 = dframe1[0][dframe1['matches'].notnull()]
df_1

0                United Arab Emirates
3                           IDNumber/
4                  784-1961-0383869-2
6         Name:Ziad Abdulaziz Nakchou
7     NationalitySyrian Arab Republic
8                   Sex:M ySj :cuiaJ|
9            Date of Birth 07/02/1961
11                        Card Number
12                         25/11/2020
Name: 0, dtype: object

In [110]:
final = df.tolist()
final

['Baaadl is l elyli',
 'Residentldentity Card',
 'Saa juialluesuay',
 'Signature/Expiry Date/gleiyl',
 '091963000',
 '157700/01',
 '8G!L8',
 'RN',
 'JIgi L1',
 '0F000034BDDC1376',
 'If you find this cardplease return it to the issuing',
 'organization or to the nearest police station.']

In [114]:
final_1 = df_1.tolist()
final_1

['United Arab Emirates',
 'IDNumber/',
 '784-1961-0383869-2',
 'Name:Ziad Abdulaziz Nakchou',
 'NationalitySyrian Arab Republic',
 'Sex:M ySj :cuiaJ|',
 'Date of Birth 07/02/1961',
 'Card Number',
 '25/11/2020']

In [100]:
s1 = str(610207)
s = s1[::-1]
print(int(s))
print(s[:2]+"/"+s[2:4]+"/"+s[4:])
print([s[i:i+2] for i in range(0, len(s), 2)])
print("/".join(reversed([s1[i:i+2] for i in range(0, len(s1), 2)])))

702016
70/20/16
['70', '20', '16']
07/02/61

In [101]:
import datetime

print(type(datetime))
d1 = datetime.datetime.now()
print(d1)

<class 'module'>
2022-02-01 13:50:52.629517

In [102]:
import datetime
print(datetime.datetime.strptime('07/02/68', '%d/%m/%y').strftime("%d/%m/%Y"))

07/02/2068

In [115]:
def word2vec(word):
    from collections import Counter
    from math import sqrt

    # count the characters in word
    cw = Counter(word)
    # precomputes a set of the different characters
    sw = set(cw)
    # precomputes the "length" of the word vector
    lw = sqrt(sum(c*c for c in cw.values()))

    # return a tuple
    return cw, sw, lw

def cosdis(v1, v2):
    # which characters are common to the two words?
    common = v1[1].intersection(v2[1])
    # by definition of cosine distance we have
    return sum(v1[0][ch]*v2[0][ch] for ch in common)/v1[2]/v2[2]


list_A = l11
list_B = final_1

threshold = 0.80     # if needed
for key in list_A:
    for word in list_B:
        try:
            # print(key)
            # print(word)
            res = cosdis(word2vec(word), word2vec(key))
            # print(res)
            print("The cosine similarity between : {} and : {} is: {}".format(word, key, res*100))
            # if res > threshold:
            #     print("Found a word with cosine distance > 80 : {} with original word: {}".format(word, key))
        except IndexError:
            pass

The cosine similarity between : United Arab Emirates and : ZIAD ABDULAZIZ is: 19.36491673103708
The cosine similarity between : IDNumber/ and : ZIAD ABDULAZIZ is: 24.34322477800738
The cosine similarity between : 784-1961-0383869-2 and : ZIAD ABDULAZIZ is: 0.0
The cosine similarity between : Name:Ziad Abdulaziz Nakchou and : ZIAD ABDULAZIZ is: 20.452399702596544
The cosine similarity between : NationalitySyrian Arab Republic and : ZIAD ABDULAZIZ is: 10.989674556596448
The cosine similarity between : Sex:M ySj :cuiaJ| and : ZIAD ABDULAZIZ is: 7.61386987626881
The cosine similarity between : Date of Birth 07/02/1961 and : ZIAD ABDULAZIZ is: 17.77046633277277
The cosine similarity between : Card Number and : ZIAD ABDULAZIZ is: 5.063696835418333
The cosine similarity between : 25/11/2020 and : ZIAD ABDULAZIZ is: 0.0
The cosine similarity between : United Arab Emirates and : NAKCHOU is: 13.363062095621217
The cosine similarity between : IDNumber/ and : NAKCHOU is: 12.598815766974239
The cosine similarity between : 784-1961-0383869-2 and : NAKCHOU is: 0.0
The cosine similarity between : Name:Ziad Abdulaziz Nakchou and : NAKCHOU is: 15.877683720748895
The cosine similarity between : NationalitySyrian Arab Republic and : NAKCHOU is: 9.100315103865801
The cosine similarity between : Sex:M ySj :cuiaJ| and : NAKCHOU is: 0.0
The cosine similarity between : Date of Birth 07/02/1961 and : NAKCHOU is: 0.0
The cosine similarity between : Card Number and : NAKCHOU is: 20.965696734438367
The cosine similarity between : 25/11/2020 and : NAKCHOU is: 0.0
The cosine similarity between : United Arab Emirates and : ZIAD ABDULAZIZ NAKCHOU is: 25.51551815399144
The cosine similarity between : IDNumber/ and : ZIAD ABDULAZIZ NAKCHOU is: 24.05626121623441
The cosine similarity between : 784-1961-0383869-2 and : ZIAD ABDULAZIZ NAKCHOU is: 0.0
The cosine similarity between : Name:Ziad Abdulaziz Nakchou and : ZIAD ABDULAZIZ NAKCHOU is: 26.274692712269403
The cosine similarity between : NationalitySyrian Arab Republic and : ZIAD ABDULAZIZ NAKCHOU is: 15.638581054280609
The cosine similarity between : Sex:M ySj :cuiaJ| and : ZIAD ABDULAZIZ NAKCHOU is: 12.038585308576922
The cosine similarity between : Date of Birth 07/02/1961 and : ZIAD ABDULAZIZ NAKCHOU is: 21.073180760588116
The cosine similarity between : Card Number and : ZIAD ABDULAZIZ NAKCHOU is: 16.012815380508716
The cosine similarity between : 25/11/2020 and : ZIAD ABDULAZIZ NAKCHOU is: 0.0
The cosine similarity between : United Arab Emirates and : Arab Emirates is: 90.03675719981713
The cosine similarity between : IDNumber/ and : Arab Emirates is: 40.42260417272217
The cosine similarity between : 784-1961-0383869-2 and : Arab Emirates is: 0.0
The cosine similarity between : Name:Ziad Abdulaziz Nakchou and : Arab Emirates is: 54.338848864905955
The cosine similarity between : NationalitySyrian Arab Republic and : Arab Emirates is: 70.07485949685405
The cosine similarity between : Sex:M ySj :cuiaJ| and : Arab Emirates is: 30.34330424545042
The cosine similarity between : Date of Birth 07/02/1961 and : Arab Emirates is: 43.27892114505486
The cosine similarity between : Card Number and : Arab Emirates is: 67.26727939963125
The cosine similarity between : 25/11/2020 and : Arab Emirates is: 0.0
The cosine similarity between : United Arab Emirates and : Syria is: 47.43416490252568
The cosine similarity between : IDNumber/ and : Syria is: 14.907119849998596
The cosine similarity between : 784-1961-0383869-2 and : Syria is: 0.0
The cosine similarity between : Name:Ziad Abdulaziz Nakchou and : Syria is: 37.573457465108966
The cosine similarity between : NationalitySyrian Arab Republic and : Syria is: 69.98964726756152
The cosine similarity between : Sex:M ySj :cuiaJ| and : Syria is: 46.625240412015685
The cosine similarity between : Date of Birth 07/02/1961 and : Syria is: 21.764287503300352
The cosine similarity between : Card Number and : Syria is: 37.210420376762535
The cosine similarity between : 25/11/2020 and : Syria is: 0.0
The cosine similarity between : United Arab Emirates and : 784196103838692 is: 0.0
The cosine similarity between : IDNumber/ and : 784196103838692 is: 0.0
The cosine similarity between : 784-1961-0383869-2 and : 784196103838692 is: 87.3589088036728
The cosine similarity between : Name:Ziad Abdulaziz Nakchou and : 784196103838692 is: 0.0
The cosine similarity between : NationalitySyrian Arab Republic and : 784196103838692 is: 0.0
The cosine similarity between : Sex:M ySj :cuiaJ| and : 784196103838692 is: 0.0
The cosine similarity between : Date of Birth 07/02/1961 and : 784196103838692 is: 36.14851398772668
The cosine similarity between : Card Number and : 784196103838692 is: 0.0
The cosine similarity between : 25/11/2020 and : 784196103838692 is: 35.63134121092031
The cosine similarity between : United Arab Emirates and : 07/02/61 is: 0.0
The cosine similarity between : IDNumber/ and : 07/02/61 is: 19.245008972987527
The cosine similarity between : 784-1961-0383869-2 and : 07/02/61 is: 37.46343246326776
The cosine similarity between : Name:Ziad Abdulaziz Nakchou and : 07/02/61 is: 0.0
The cosine similarity between : NationalitySyrian Arab Republic and : 07/02/61 is: 0.0
The cosine similarity between : Sex:M ySj :cuiaJ| and : 07/02/61 is: 0.0
The cosine similarity between : Date of Birth 07/02/1961 and : 07/02/61 is: 60.878077752810114
The cosine similarity between : Card Number and : 07/02/61 is: 0.0
The cosine similarity between : 25/11/2020 and : 07/02/61 is: 80.00946913656628
The cosine similarity between : United Arab Emirates and : 25/11/20 is: 0.0
The cosine similarity between : IDNumber/ and : 25/11/20 is: 17.81741612749496
The cosine similarity between : 784-1961-0383869-2 and : 25/11/20 is: 30.348848933344204
The cosine similarity between : Name:Ziad Abdulaziz Nakchou and : 25/11/20 is: 0.0
The cosine similarity between : NationalitySyrian Arab Republic and : 25/11/20 is: 0.0
The cosine similarity between : Sex:M ySj :cuiaJ| and : 25/11/20 is: 0.0
The cosine similarity between : Date of Birth 07/02/1961 and : 25/11/20 is: 52.026598171447205
The cosine similarity between : Card Number and : 25/11/20 is: 0.0
The cosine similarity between : 25/11/2020 and : 25/11/20 is: 96.86648999069224
The cosine similarity between : United Arab Emirates and : M is: 0.0
The cosine similarity between : IDNumber/ and : M is: 0.0
The cosine similarity between : 784-1961-0383869-2 and : M is: 0.0
The cosine similarity between : Name:Ziad Abdulaziz Nakchou and : M is: 0.0
The cosine similarity between : NationalitySyrian Arab Republic and : M is: 0.0
The cosine similarity between : Sex:M ySj :cuiaJ| and : M is: 20.851441405707476
The cosine similarity between : Date of Birth 07/02/1961 and : M is: 0.0
The cosine similarity between : Card Number and : M is: 0.0
The cosine similarity between : 25/11/2020 and : M is: 0.0

In [119]:
def word2vec(word):
    from collections import Counter
    from math import sqrt

    # count the characters in word
    cw = Counter(word)
    # precomputes a set of the different characters
    sw = set(cw)
    # precomputes the "length" of the word vector
    lw = sqrt(sum(c*c for c in cw.values()))

    # return a tuple
    return cw, sw, lw

def cosdis(v1, v2):
    # which characters are common to the two words?
    common = v1[1].intersection(v2[1])
    # by definition of cosine distance we have
    return sum(v1[0][ch]*v2[0][ch] for ch in common)/v1[2]/v2[2]


list_A = l11
list_B = final_1

threshold = 0.20     # if needed
for key in list_A:
    for word in list_B:
        try:
            # print(key)
            # print(word)
            res = cosdis(word2vec(word), word2vec(key))
            # print(res)
#             print("The cosine similarity between : {} and : {} is: {}".format(word, key, res*100))
            if res > threshold:
                print("Found a word with cosine distance > 80 : {} with original word: {}".format(word, key))
        except IndexError:
            pass

Found a word with cosine distance > 80 : IDNumber/ with original word: ZIAD ABDULAZIZ
Found a word with cosine distance > 80 : Name:Ziad Abdulaziz Nakchou with original word: ZIAD ABDULAZIZ
Found a word with cosine distance > 80 : Card Number with original word: NAKCHOU
Found a word with cosine distance > 80 : United Arab Emirates with original word: ZIAD ABDULAZIZ NAKCHOU
Found a word with cosine distance > 80 : IDNumber/ with original word: ZIAD ABDULAZIZ NAKCHOU
Found a word with cosine distance > 80 : Name:Ziad Abdulaziz Nakchou with original word: ZIAD ABDULAZIZ NAKCHOU
Found a word with cosine distance > 80 : Date of Birth 07/02/1961 with original word: ZIAD ABDULAZIZ NAKCHOU
Found a word with cosine distance > 80 : United Arab Emirates with original word: Arab Emirates
Found a word with cosine distance > 80 : IDNumber/ with original word: Arab Emirates
Found a word with cosine distance > 80 : Name:Ziad Abdulaziz Nakchou with original word: Arab Emirates
Found a word with cosine distance > 80 : NationalitySyrian Arab Republic with original word: Arab Emirates
Found a word with cosine distance > 80 : Sex:M ySj :cuiaJ| with original word: Arab Emirates
Found a word with cosine distance > 80 : Date of Birth 07/02/1961 with original word: Arab Emirates
Found a word with cosine distance > 80 : Card Number with original word: Arab Emirates
Found a word with cosine distance > 80 : United Arab Emirates with original word: Syria
Found a word with cosine distance > 80 : Name:Ziad Abdulaziz Nakchou with original word: Syria
Found a word with cosine distance > 80 : NationalitySyrian Arab Republic with original word: Syria
Found a word with cosine distance > 80 : Sex:M ySj :cuiaJ| with original word: Syria
Found a word with cosine distance > 80 : Date of Birth 07/02/1961 with original word: Syria
Found a word with cosine distance > 80 : Card Number with original word: Syria
Found a word with cosine distance > 80 : 784-1961-0383869-2 with original word: 784196103838692
Found a word with cosine distance > 80 : Date of Birth 07/02/1961 with original word: 784196103838692
Found a word with cosine distance > 80 : 25/11/2020 with original word: 784196103838692
Found a word with cosine distance > 80 : 784-1961-0383869-2 with original word: 07/02/61
Found a word with cosine distance > 80 : Date of Birth 07/02/1961 with original word: 07/02/61
Found a word with cosine distance > 80 : 25/11/2020 with original word: 07/02/61
Found a word with cosine distance > 80 : 784-1961-0383869-2 with original word: 25/11/20
Found a word with cosine distance > 80 : Date of Birth 07/02/1961 with original word: 25/11/20
Found a word with cosine distance > 80 : 25/11/2020 with original word: 25/11/20
Found a word with cosine distance > 80 : Sex:M ySj :cuiaJ| with original word: M

In [123]:
l11

['ZIAD ABDULAZIZ',
 'NAKCHOU',
 'ZIAD ABDULAZIZ NAKCHOU',
 'Arab Emirates',
 'Syria',
 '784196103838692',
 '07/02/61',
 '25/11/20',
 'M']

In [124]:
final_1

['United Arab Emirates',
 'IDNumber/',
 '784-1961-0383869-2',
 'Name:Ziad Abdulaziz Nakchou',
 'NationalitySyrian Arab Republic',
 'Sex:M ySj :cuiaJ|',
 'Date of Birth 07/02/1961',
 'Card Number',
 '25/11/2020']