In [13]:
import pandas as pd
from fuzzywuzzy import fuzz

In [14]:
list_A = ['ZIAD ABDULAZIZ', 'NAKCHOU', 'Arab Emirates', 'Syria', '784196103838692', '07/02/61', '25/11/20', 'M']
list_A

['ZIAD ABDULAZIZ',
 'NAKCHOU',
 'Arab Emirates',
 'Syria',
 '784196103838692',
 '07/02/61',
 '25/11/20',
 'M']

In [15]:
list_B = ['United Arab Emirates',
 'IDNumber/',
 '784-1961-0383869-2',
 'Name:Ziad Abdulaziz Nakchou',
 'NationalitySyrian Arab Republic',
 'Sex:M ySj :cuiaJ|',
 'Date of Birth 07/02/1961',
 'Card Number',
 '25/11/2020']
list_B

['United Arab Emirates',
 'IDNumber/',
 '784-1961-0383869-2',
 'Name:Ziad Abdulaziz Nakchou',
 'NationalitySyrian Arab Republic',
 'Sex:M ySj :cuiaJ|',
 'Date of Birth 07/02/1961',
 'Card Number',
 '25/11/2020']

In [16]:
A_cleaned = [customer for customer in list_A if not(pd.isnull(customer))]
B_cleaned = [customer for customer in list_B if not(pd.isnull(customer))]

In [17]:
A_cleaned

['ZIAD ABDULAZIZ',
 'NAKCHOU',
 'Arab Emirates',
 'Syria',
 '784196103838692',
 '07/02/61',
 '25/11/20',
 'M']

In [18]:
B_cleaned

['United Arab Emirates',
 'IDNumber/',
 '784-1961-0383869-2',
 'Name:Ziad Abdulaziz Nakchou',
 'NationalitySyrian Arab Republic',
 'Sex:M ySj :cuiaJ|',
 'Date of Birth 07/02/1961',
 'Card Number',
 '25/11/2020']

In [19]:
# Perform fuzzy string matching
tuples_list = [max([(fuzz.token_set_ratio(i,j),j) for j in B_cleaned]) for i in A_cleaned]
tuples_list

[(100, 'Name:Ziad Abdulaziz Nakchou'),
 (100, 'Name:Ziad Abdulaziz Nakchou'),
 (100, 'United Arab Emirates'),
 (28, 'NationalitySyrian Arab Republic'),
 (48, '784-1961-0383869-2'),
 (77, 'Date of Birth 07/02/1961'),
 (89, '25/11/2020'),
 (100, 'Sex:M ySj :cuiaJ|')]

In [20]:
# Unpack list of tuples into two lists
similarity_score, fuzzy_match = map(list,zip(*tuples_list))
# Create pandas DataFrame
df = pd.DataFrame({"list_A":A_cleaned, "fuzzy match": fuzzy_match, "similarity score":similarity_score})
df

            list_A                      fuzzy match  similarity score
0   ZIAD ABDULAZIZ      Name:Ziad Abdulaziz Nakchou               100
1          NAKCHOU      Name:Ziad Abdulaziz Nakchou               100
2    Arab Emirates             United Arab Emirates               100
3            Syria  NationalitySyrian Arab Republic                28
4  784196103838692               784-1961-0383869-2                48
5         07/02/61         Date of Birth 07/02/1961                77
6         25/11/20                       25/11/2020                89
7                M                Sex:M ySj :cuiaJ|               100

In [21]:
similaity_score = sum(df['similarity score'])/(len(df['similarity score'])*100)
similaity_score

0.8025